@use "/src/sass/base/variables.scss" as *;

.footer {
    margin-top: 90px;
    background-color: $dark;
    color: $light;
    .just-validate-error-field {
        border-bottom: 1px solid $ui-error;
        &::placeholder {
            color: $ui-error;
        }
    }
    .just-validate-error-field.footer__checkbox {
        outline: none;
    }
    .container {
        display: grid;
        padding-top: 10px;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-text-fill-color: $light;
        -webkit-box-shadow: 0 0 0px 40rem $dark inset;
    }
    &__news {
        display: grid;
        margin-top: 50px;
        width: 293px;
        gap: 30px;
        &-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__label {
        font-size: 14px;
        color: $ui-active;
    }
    &__input {
        display: block;
        width: 293px;
        padding-bottom: 15px;
        background-color: transparent;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid $ui-active;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $ui-active;
        &::placeholder {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: $ui-active;
        }
    }
    &__btn {
        margin-top: 20px;
    }
    hr {
        margin: 0;
    }
    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;
        color: $light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 3px;
        }
    }
    &__checkbox {
        width: 15px;
        height: 15px;
        margin-right: 15px;
        accent-color: #a22dc6;
        border: solid 1px $light;
        border-radius: 2px;
        cursor: pointer;
    }

    &__nav {
        margin-top: 50px;
        display: grid;
        width: 212px;
        height: 236px;
        row-gap: 40px;
        justify-content: space-between;
        #discover {
            width: 72px;
            height: 118px;
        }
        #shopping {
            width: 74px;
            height: 79px;
        }
        #terms {
            height: 78px;
            grid-column: 1/3;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        }
        ul {
            padding-inline-start: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 20px;
            a {
                text-decoration: none;
                color: $light;
            }
        }
    }

    &__social {
        display: grid;
        margin-top: 50px;
        width: 92px;
        max-height: 83px;
        ul {
            display: flex;
            padding-top: 30px;
            padding-inline-start: 0;
            justify-content: space-between;
            font-size: 24px;
            list-style-type: none;
            button {
                width: 24px;
                height: 24px;
                margin-block-start: 0;
                margin-block-end: 0;
                padding: 0;
                background-color: transparent;
                border: none;
                color: $light;
            }
        }
    }

    [class^="icon-"]:before,
    [class*=" icon-"]:before {
        margin-left: 0;
    }

    &__copyright {
        font-size: 14px;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        .container {
            grid-template-columns: 2fr;
            grid-template-rows: 2fr;
            justify-content: space-between;
            row-gap: 50px;
        }
        &__news {
            grid-column: 1;
            grid-row: 1;
        }
        &__nav {
            grid-column: 1;
            width: 428px;
            height: 118px;
            margin-top: 0;
            gap: 30px;
            align-content: start;
            grid-template-rows: 1fr;
            grid-template-columns: 4fr;
        }
        &__social {
            grid-column: 2;
            grid-row: 2;
            margin-top: 0;
        }

        #terms {
            grid-row: 1;
            grid-column: 4;
        }
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        .container {
            grid-template-columns: 3fr;
            grid-template-rows: 1fr;
            gap: 160px;
            justify-content: space-between;
        }
        &__news {
            grid-column: 1;
        }
        &__nav {
            grid-column: 2;
            width: 428px;
            height: 118px;
            margin-top: 50px;
            gap: 30px;
            align-content: start;
            grid-template-rows: 1fr;
            grid-template-columns: 4fr;
        }
        &__social {
            grid-column: 3;
            grid-row: 1;
            margin-top: 50px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        .container {
            gap: 320px;
        }
    }
}
